@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "MontSerrat";
}

:root {
  --green: #b7d226;
  --light-green: #e8ff68;
  --grey: #676767;
  --light-sand: #dbdbda;
  --purple: #674087;
}

body {
  background-color: #674087;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-weight: 500;
}

.header-links {
  display: flex;
  gap: 3em;
}

.header-links a {
  color: white;
}

.header-links a:hover {
  color: var(--light-green);
}

.header img {
  width: 150px;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.left-main {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.left-main h1 {
  margin-top: 6rem;
  text-transform: uppercase;
  color: var(--green);
}

.left-main p {
  margin: 10px;
  font-weight: 400;
  color: white;
}

.right-main img {
  width: 600px;
  height: 400px;
  border-radius: 40px;
}

.course {
  margin-top: 6rem;
  text-align: center;
  background-color: var(--light-sand);
  padding: 6rem;
}

.course h1 {
  color: var(--green);
  margin-bottom: 20px;
}

.course p {
  color: black;
}

.course2 {
  margin-top: 3dvb;
  text-align: center;
  background-color: var(--purple);
  padding: 3rem;
}

.course2 h1 {
  padding: 2rem;
  color: var(--green);
}

.course2 p {
  color: white;
}

.course2-text2 {
  margin-top: 3rem;
}

.container {
  display: flex;
  margin: 4rem;
}

.box {
  flex: 1;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.box p {
  margin-top: 10px;
}

.price-main {
  background-color: var(--light-sand);
}

.price {
  text-align: center;
  padding: 4rem;
}

.price h1 {
  color: var(--green);
}

.price p {
  color: black;
}

.price-container {
  display: flex;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  width: 45vh;
  margin: 10px auto;
  border-radius: 15px;
  background-color: var(--purple);
}

.price-box h2 {
  color: var(--green);
  font-weight: bold;
}

.price-text {
  font-size: 50px;
  font-weight: bold;
  color: var(--green);
}

.price-text2 {
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.contact {
  background-color: var(--light-sand);
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.contact h1 {
  color: var(--green);
  text-align: center;
}

.contact-right {
  text-align: center;
  padding: 4rem;
}

.contact-right h1 {
  font-size: 50px;
}

.contact-right p {
  font-size: 20px;
}

/*form*/
.form-subscribe {
  background-color: var(--blue);
  padding: 23px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 5px auto;
  width: 60%;
}

.form-subscribe h1 {
  color: var(--green);
  text-transform: uppercase;
}

.form-subscribe p {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.requirements {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-matriz2 {
  background-color: var(--purple);
  padding: 23px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.info-matriz2 > div:nth-child(1) {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.info-matriz2 > div:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  background-color: var(--purple);
  border: 1px solid #fff;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}

input:focus {
  border: 3px solid var(--green);
}

#name::placeholder {
  color: #fff;
}

#document::placeholder {
  color: #fff;
}

#your_email::placeholder {
  color: #fff;
}

#mobile::placeholder {
  color: #fff;
}

#nacionality::placeholder {
  color: #fff;
}

#password::placeholder {
  color: #fff;
}

#confirm_password::placeholder {
  color: #fff;
}

#birthdate::placeholder {
  color: #fff;
}

option {
  background-color: var(--light-sand);
  color: var(--purple);
  font-weight: 700;
}

form select {
  background-color: var(--purple);
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}

.register {
  margin: 20px auto;
  width: 50%;
  border: none;
  background-color: var(--green);
  cursor: pointer;
  font-weight: bold;
}

.register:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  background-color: var(--light-green);
}

/*icons*/

.fa-graduation-cap,
.fa-laptop,
.fa-paste {
  font-size: 4rem;
  color: var(--green);
}

/*buttons*/

.button {
  background-color: var(--green);
  padding: 10px;
  width: 50%;
  margin: 20px auto;
  border-radius: 20px;
  color: var(--purple);
  font-weight: 600;
}

.button2 {
  background-color: var(--green);
  padding: 10px;
  width: 20%;
  margin: 20px auto;
  border-radius: 20px;
  color: var(--purple);
  text-align: center;
  font-weight: 600;
}

.button-div {
  margin: 0 auto;
  display: flex;
}

.button3 {
  background-color: var(--green);
  padding: 10px;
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  color: var(--purple);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.button-div2 {
  margin: 0 auto;
  display: flex;
}

.button:hover {
  background-color: var(--light-green);
}

.button2:hover {
  background-color: var(--light-green);
}

.button3:hover {
  background-color: var(--light-green);
}

/*span*/

.span-green {
  color: var(--light-green);
  font-weight: 600;
}

.span-green {
  color: var(--green);
  font-weight: 600;
}

.span-bold {
  font-weight: bold;
  color: var(--purple);
}

.span-price {
  font-size: 90px;
}

a {
  text-decoration: none;
}

/*responsive*/

@media (max-width: 1000px) {
  .main {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .header {
    flex-wrap: wrap;
  }

  .header-links {
    gap: 4rem;
  }

  .course {
    padding: 2rem;
  }

  .course h1 {
    padding: 20px;
  }

  .course2 {
    padding: 2rem;
  }

  .course2 h1 {
    padding: 20px;
  }

  .course2-text2 {
    margin: 3rem;
  }

  .box {
    padding: 0;
  }

  .left-main {
    width: 100%;
  }

  .left-main h1 {
    margin-top: 3rem;
  }

  .right-main img {
    width: 100%;
    height: 100%;
  }
  .contact {
    flex-wrap: wrap;
  }
  .container {
    margin: 0;
    flex-direction: column;
  }

  .contact-right {
    padding: 0;
  }

  .button2 {
    width: 50%;
  }

  img {
    width: 100%;
  }

  .form-subscribe {
    width: 80%;
  }
}
